.submenu-servicos {  
  position: absolute;
  z-index: 50;
  height: 200px;
  width: 300px;
  padding-top: 20px;
  display: none;
}

.submenu-header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #151A20;
  padding: 20px 0 20px 10px;
  border-radius: 10px;
}

.menu-item:not(li:first-child):hover {
  color: rgb(0 92 255);
  transition: 0.5s ease, transform 0.5s ease;
}

#menu-menu_header :first-child:hover .submenu-servicos {
  display: block;
}

#menu-menu_header li:last-child {
  border: 1px solid gray;
  border-radius: 100px;
  padding: .50rem 1rem;
}

.submenu-servicos li:last-child {
  border: none !important;
  pointer-events: none !important;
  padding: 0 !important;
}

.submenu-servicos .menu-item:hover {
  color: rgb(0 92 255);
  transition: 0.5s ease, transform 0.5s ease;
}


/*Menu Mobile*/
.menu-mobile ul {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
  text-align: end;
}

.menu-mobile .sub-menu {
  row-gap: 10px;
  padding-top: 10px;
  padding-right: 5px;
}

.mobile-menu-show {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 50;
  display: block;
  padding: 5rem 2rem;
  background-color: rgb(16 20 25);
}

.mobile-menu-hide {
  display: none !important;
}

.menu-mobile li:last-child {
  border: 1px solid gray;
  color: white !important;
  border-radius: 100px;
  padding: .50rem 1rem;
}

.menu-mobile .sub-menu li:last-child {
  border: none;
  border-radius: 100px;
  padding: 0;
}