body {
  color: white;
}

.menu {
  display: flex;
  gap: 20px
}

.container {
  max-width: 1280px; /*?????? Necessário estilizar aqui ou usar classes do tailwind?*/
}

.form-contact-link {
  border-radius: 50px;
  background-color: blue;
  color: white;
}

.banner-hero-content p {
  font-size: 1.25rem;
}

.footer {
  background-color: #151A20;
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}