html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

.container {
  max-width: 1280px;
}

.form-contact-link {
  border-radius: 50px;
  color: white;
}

.footer {
  background-color: #151A20;
}







